Source: spice-xpi
Section: libs
Priority: extra
Maintainer: jason brooks <jason@sealrock.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, firefox-dev, liblog4cpp5-dev, liblog4cpp5
Standards-Version: 3.9.2
Homepage: http://spice-space.org
#Vcs-Git: git://git.debian.org/collab-maint/spice-xpi.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/spice-xpi.git;a=summary

Package: spice-xpi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Spice extension for Mozilla allows the client to be used from a web browser.
 Spice extension for Mozilla allows the client to be used from a web browser.
